
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-bottom: 50px;
  height: 875px;
  width: 100%;
}

.Img {
  filter: brightness(0.2)/* opacity(65%) blur(3px) */;
  z-index: -1;
  position: absolute;
  width: 100%;
  object-fit: cover;
  object-position: 50%;
  top: 120px;
}